@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  font-family: 'Poppins', sans-serif;
}


a:hover {
  text-decoration: underline;
}

.agile__slides {
  margin: 12px 0px;
}

section {
  padding: 8px 0px;
}

.loader {
  -webkit-animation: spinner 1.5s linear infinite;
  animation: spinner 1.5s linear infinite;
}

.richText ol {
  list-style: unset;
  margin: unset;
  padding: unset;
  margin-left: 20px;

}
.richText ul {
  list-style: unset;
  margin: unset;
  padding: unset;

}

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

h1 {
  font-size: 57px;
}
h2 {
  font-size: 47px;
}
h3 {  
  font-size: 39px;
}
h4 {
  font-size: 33px;
}
h5 {
  font-size: 27px;
}
h6 {
  font-size: 23px;
}
p {
  font-size: 16px;
}
@media screen and (max-width: 768px) {
  h1 {
    font-size: 36px;
  }
  h2 {
    font-size: 32px;
  }
  h3 {  
    font-size: 28px;
  }
  h4 {  
    font-size: 25px;
  }
  h5 {  
    font-size: 22px;
  }
  h6 {  
    font-size: 20px;
  }
  }